.app-component {
    width: 90%;
    // background-color: lightcyan;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 600px) {
    .app-component {
        // max-width: 1200px;
        width: 70%;
        a {
            text-decoration: none;
        }
        a, a:visited, a:hover, a:active {
            color: inherit;
          }
    }
}