@import '../../globalStyle.scss';


.recipe-detail-component {
    font-family: 'Nunito Sans', sans-serif;
    h2 {
        font-size: 28pt;
        text-align: center;
        margin-bottom: 30px;
        font-family: 'Cabin Sketch', sans-serif;
    }
    &__title {
        font-size: 18pt;
        margin-bottom: 5px;
        // margin-top: 20px;
    }
    &__section1 {
        // width: 60%;        
        background-color: $light;
        padding: 10px;
        margin: 30px auto;
        border-radius: 4px;
    }
    &__section2 {
        background-color: $light;
        padding: 10px;
        margin: 30px 0;
        border-radius: 4px;
    }
    &__imageContainer {
        text-align: center;
    }
    &__ingredientList {
        margin-left: 20px;
    }
    &__btnSection {
        margin-top: 20px;
        text-align: center;
    }
    &__btnEdit, &__btnDelete, &__btnBack {
        background-color: $blue;
        border-radius: 4px;
        color: $white;
        margin: 10px;
        padding: 5px;
        text-align: center;
    }
    &__btnEdit, &__btnBack {
        background-color: $blue;
    }
    &__btnDelete {
        background-color: $red;
    }
    &__btnEdit:hover, &__btnBack:hover {
        background-color: $lightblue;
        cursor: pointer;
    }
    &__btnDelete:hover {
        background-color: $lightred;
        cursor: pointer;
    }
    a {
        text-decoration: none;
        color: $white;
    }
    img {
        text-align: center;
    }
}

@media screen and (min-width: 600px) {
    .recipe-detail-component  {
        &__btnEdit, &__btnDelete, &__btnBack {
            display: inline-block;
            width: 100px;
        }
    }
}