@import '../../globalStyle.scss';

.header-component {
    font-family: 'Cabin Sketch', cursive;
    background-color: $dark;
   
    padding: 20px 5%;
    font-size: 16pt;
    margin-bottom: 30px;
    a {
        color: $white;
        background-color: white;
        padding: 3px;
        color: $dark;
        text-decoration: none;
        &:hover {
            background-color: $highlight;
        }
    }
    
}

@media screen and (min-width: 600px) {
    .header-component {
        padding-left: 15%;
    }
}